<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
    <center>
        <h1>Create View</h1>
        <br><br><br><br><br><br>
        <form action="" method="post">
            {% csrf_token %}

            {% for field in form %}
                <div>
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}

            <input type="submit" value="Submit">
            <br><br>
        </form>
    </center>
</body>
</html>
